:root {
    --primary-color: #00457f;
    --white-color: #ffffff;
    --accent-color: #707070;
    --light-grey: #f6f6f6;
    --dark-grey: #eeeeee;
    --form-border:#ebebeb;
    --form-color:#b1b1b1;
    --menu-color:#353535;
    --menu-color-item:#424141;
    --number-color:#f2f2f2;
    --black-color: #000000;
    --link-color:#495057;
    --card-title:#444242;
    --post-title:#333333;
    --widget-color:#788487;
  }
  